<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gym2022/face-detection-master/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /gym2022/face-detection-master/index2.php [L]
</IfModule>
